{{- define "gpu-tel.networkPolicy" -}}
{{- $root := . -}}
{{- range $name, $subchart := .Values.subcharts -}}
{{- if $subchart.enabled -}}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ $name }}
  labels:
    {{- include "gpu-tel.labels" $root | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ $name }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app.kubernetes.io/name: {{ $name }}
  egress: []
{{- end -}}
{{- end -}}
{{- end -}}
