apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "telemetry-collector.fullname" . }}
  labels:
    {{- include "telemetry-collector.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "telemetry-collector.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "telemetry-collector.selectorLabels" . | nindent 8 }}
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      initContainers:
        - name: wait-for-postgresql
          image: bitnami/bitnami-common:1.0.0
          command: ["/bin/sh", "-c", "until nc -z gpu-tel-postgresql 5432; do echo waiting for postgres; sleep 2; done"]
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: PORT
              value: {{ .Values.service.port | quote }}
            - name: MQ_SERVICE
              value: {{ printf "%s-mq-service" (include "gpu-tel.fullname" .) }}
            - name: MQ_PORT
              value: {{ .Values.mqService.port | quote }}
            - name: DB_HOST
              value: "{{ .Values.database.host }}"
            - name: DB_PORT
              value: "{{ .Values.database.port | default "5432" }}"
            - name: DB_NAME
              value: "{{ .Values.database.name }}"
            - name: DB_USER
              value: "{{ .Values.database.user }}"
            - name: DB_PASSWORD
              value: "{{ .Values.database.password }}"
            - name: DB_SSLMODE
              value: "{{ .Values.database.sslMode | default "disable" }}"
            {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
