apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gpu-tel.fullname" . }}-api-server
  labels:
    {{- include "gpu-tel.labels" . | nindent 4 }}
    app.kubernetes.io/component: api-server
spec:
  replicas: {{ .Values.services.apiServer.replicaCount }}
  selector:
    matchLabels:
      {{- include "gpu-tel.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: api-server
  template:
    metadata:
      labels:
        {{- include "gpu-tel.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: api-server
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "gpu-tel.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-api-server
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.images.apiServer.repository }}:{{ .Values.images.apiServer.tag }}"
          imagePullPolicy: {{ .Values.images.apiServer.pullPolicy }}
          command: ["/app/api-server"]
          ports:
            - name: http
              containerPort: {{ .Values.services.apiServer.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
          resources:
            {{- toYaml .Values.services.apiServer.resources | nindent 12 }}
          volumeMounts:
            - name: config
              mountPath: /app/config.yaml
              subPath: config.yaml
      volumes:
        - name: config
          configMap:
            name: {{ include "gpu-tel.fullname" . }}-config
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
