apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gpu-tel.fullname" . }}-config
  labels:
    {{- include "gpu-tel.labels" . | nindent 4 }}
data:
  config.yaml: |
    app:
      name: {{ .Chart.Name }}
      env: {{ .Values.global.environment | default "production" }}
      version: {{ .Chart.AppVersion }}

    server:
      http:
        port: {{ .Values.services.apiServer.port }}
        read_timeout: 30s
        write_timeout: 30s
      grpc:
        port: {{ .Values.services.mqService.port }}
        timeout: 10s

    message_queue:
      address: {{ include "gpu-tel.fullname" . }}-mq-service:{{ .Values.services.mqService.port }}

    storage:
      type: postgres
      postgres:
        host: {{ .Release.Name }}-postgresql
        port: 5432
        user: {{ .Values.postgresql.auth.username }}
        password: {{ .Values.postgresql.auth.password }}
        dbname: {{ .Values.postgresql.auth.database }}
        sslmode: disable
